:root {
  --primary: #e9967a;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 5000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #8b5948;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #e9967a;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #fff;
}

.navbar a {
  margin-left: 0rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.navabar .logo {
  margin-right: 0rem;
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
  position: relative;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s linear;
  display: block;
  /* padding-bottom: 0.5rem; */
  border-bottom: 0.1rem var(--primary);
  /* transition: 0.2s linear; */
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 80%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h2 {
  font-size: 1.3rem;
  font-weight: 500;
  /* font-style: italic; */
  text-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}
.hero .content h2 span {
  color: #e9967a;
}
.hero .content h1 span {
  color: #e9967a;
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.produk,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.produk h2,
.contact h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about h2 span,
.produk h2 span,
.contact h2 span,
.about .content h3 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

.about .row .content p span {
  color: var(--primary);
}

/* menu section */
.produk h2,
.contact h2 {
  margin-bottom: 1rem;
}

.produk h3 {
  font-size: 1rem;
}
.produk p span {
  color: var(--primary);
}
.produk p,
.contact p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.produk .row {
  /* border-bottom: 3rem; */
  /* border-color: #e9967a; */
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.produk .row .produk-card {
  text-align: center;
  padding-bottom: 3rem;
}

.produk .row .produk-card-img {
  border-radius: 50%;
  width: 80%;
}

.produk .row .produk-card-tittle {
  margin-top: 1.5rem;
}

.produk .row .produk-card-price {
  margin-top: 1rem auto 0.5rem;
}

/* contact section */

.contact p span {
  color: var(--primary);
}
.contact .row {
  display: flex;
  background-color: #222;
  margin-top: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 0rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
  background: var(--primary);
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--primary);
  padding: 1rem 0;
  text-align: center;
  margin-top: 3rex;
}

footer .socials a {
  padding: 1rem;
  color: #fff;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 1rem;
}

footer .credit {
  font-size: 0.8rem;
  font-weight: 500;
}

footer .credit a {
  color: var(--bg);
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* #hamburger-menu {
    display: inline-block;
  } */

  /* .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  } */

  /* .navabar .navbar-nav.active {
    right: 0;
  } */

  /* .navbar .navbar-nav a {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  } */

  /* .navbar .navbar-nav a {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
  } */

  /* .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  } */

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0rem;
  }

  .about .row .content h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .about .row .content p {
    font-size: 1.1rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 24rem;
  }

  .contact .row form {
    padding-top: 0rem;
  }

  .produk .row .produk-card {
    flex: 1 1 20rem;
    margin: 1rem;
  }
}
/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .navabar .navbar-nav a {
    content: 45%;
  }
}
